{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "prettier",
    "@typescript-eslint"
  ],
  "env": {
    "node": true,
    "browser": true,
    "jest": true
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    },
    "react": {
      "version": "detect"
    }
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "ignorePatterns": ["examples/**/*"],
  "rules": {
    "prettier/prettier": "error",
    "no-console": [1, {
      "allow": ["error", "info", "warn"]
    }],
    "max-len": ["error", 120],
    "comma-dangle": ["error", "never"],
    "no-trailing-spaces": "error",
    "react/display-name": 0,
    "semi": ["off"],
    "@typescript-eslint/semi": ["error"],
    "@typescript-eslint/camelcase": 0,
    "@typescript-eslint/interface-name-prefix": 0,
    "@typescript-eslint/prefer-interface": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-use-before-define": 0
  }
}
